body{
    background-color: #f6f7f8;
}

#top-profile{
    margin-right: 0px;
}

.top-profile-image::after{
    position: relative;
    display: none;
}
#navbar{
    position: fixed;
    z-index: 2;
    height: 100%;
    width: 250px;
    background-color: var(--background-color-secondary);
    color: white;
    /* background-color: #0b596d; */
    border-radius: 0px 0px 3px 0px;
    /* top: 8%; */
    /* add box shadow */
    box-shadow: 10px 15px 30px 1px rgba(0,0,0,.1);
}
#top-nav-ul{
    margin-left: 12rem;
}
#topbar{
    background-color: var(--background-color-secondary);
    color: white;
    position: fixed;
    z-index:1;
    /* gheight in pixels */
    height: 60px;
    width: 100%;
    /* background-color: #0b596d; */
    /* border-radius: 3px 0px 0px 3px; */
    /* add box shadow */
    box-shadow: 10px 15px 30px 1px rgba(0,0,0,.1);
}

/* .nav{
    margin-top: 2rem;
} */

.main-content{
    margin-left: 250px;
    padding: 20px;
}

.nav-item{
    display: flex;
    gap: 1rem;
    align-items: center;
    border-radius: 10px;
    /* margin: 10px 0px; */
    /* background-color: #2e879d; */
    /* color: white; */
    /* font-weight: bold; */
    font-size: 1rem;
    /* padding: 0.2rem 0rem; */
}
.nav-item a{
    text-align: left;
    width: 100%;
}
.nav-item i{
    width: 1.5rem;
    padding-right: 10px;
}

/* .nav-item:hover{
    background-color: rgb(21, 23, 22);
    color: var(--primary-color);
    font-weight: bold;
    transition:0.1s ease-in-out;
} */

/* .nav-fill,.nav-item,.nav-link{
    text-align: left;
} */




.nav-link{
    color: white;
}

.nav-link:hover{
    transition:0.1s ease-in-out;
    color: var(--primary-color);
}

#imgee{
    height: 80px;

}

#imge2{
    height: 80px;
    width: 80px;
}

#imge{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    /* background-color: rgb(9, 121, 105);  */
}

#upline{
    /* background-color: rgb(9, 121, 105); */
    /* border: 2px solid black; */
    padding-top: 10px;
}

.col-4{
    display: flex;
    align-items: center;
    justify-content: center;
}

#text{
    justify-content: left;
}
#text i{
    padding-right: 10px;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 10px 0px;
    padding-top: 10px;
}

#lef{
    display: flex;
    justify-content: left;
    text-align: left;
}

.card-body{
    text-align: center;
}

#pic{
    width: 150px;
    height: 200px;
    border-radius: 20px;

}

.card-title{
    font-weight: bold;
    font-size: 30px;
}

#back{
    text-decoration: none;
    color: rgb(110, 110, 110);
}

#back:hover{
    color: rgb(0, 0, 0);
}

.col-12{
    padding: 25px;

}
