body{
    background-color: #f6f7f8;
}

#navbar{
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 250px;
    background-color: #333;
    color: white;
    /* background-color: #0b596d; */
    border-radius: 0px 3px 3px 0px;
}

.main-content{
    margin-left: 250px;
    padding: 20px;
}

.nav-item{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 3px 10px 40px;
    border-radius: 10px;
    /* margin: 10px 0px; */
    /* background-color: #2e879d; */
    /* color: white; */
    /* font-weight: bold; */
    font-size: 20px;
}
.nav-item a{
    text-align: left;
}
/* .nav-item i{
    padding-right: 10px;
} */

.nav-item:hover{
    background-color: #2e879d ;
    color: white;
    font-weight: bold;
}

/* .nav-fill,.nav-item,.nav-link{
    text-align: left;
} */




.nav-link{
    color: white;
}

.nav-link:hover{
    color: white;
}

#imgee{
    height: 80px;

}

#imge2{
    height: 80px;
    width: 80px;
}

#imge{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    /* background-color: rgb(9, 121, 105);  */
}

#upline{
    /* background-color: rgb(9, 121, 105); */
    /* border: 2px solid black; */
    padding-top: 10px;
}

.col-4{
    display: flex;
    align-items: center;
    justify-content: center;
}

#text{
    justify-content: left;
}
#text i{
    padding-right: 10px;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 10px 0px;
    padding-top: 10px;
}

#lef{
    display: flex;
    justify-content: left;
    text-align: left;
}

.card-body{
    text-align: center;
}

#pic{
    width: 150px;
    height: 200px;
    border-radius: 20px;

}

.card-title{
    font-weight: bold;
    font-size: 30px;
}

#back{
    text-decoration: none;
    color: rgb(110, 110, 110);
}

#back:hover{
    color: rgb(0, 0, 0);
}

.col-12{
    padding: 25px;

}
