@import "compass/css3";

@import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700';


@media (max-width: 600px) {

    body{
        padding: 0 0;
        font-family: Montserrat, sans-serif;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        color: #444;
        background : #DFDFDE;
        font-size: small;
        
    }
    h1 {
      margin : 0 auto;
    }

    #prescription_table, #tests_table {
        display: block;
        overflow-x: scroll;
        width : 100%;
        border-spacing: 10px;
        

    }
    th, td {
        padding: 15px;
        text-align: left;
    }
    th, td:before {
        color: grey;
    }
    a{
        color: grey; 
    }
    a:hover{
        color :#0b596d
    }
    
    
    
    #details{
        background: #0b596d;
        color: #fff;
        border-radius: .6em;
        box-shadow: 1px 1px 1px #999;
        
        
    
    }
    #prescription_table, #tests_table{
        background-color : whitesmoke;
        color: grey;
        border-radius: .6em;
        box-shadow: 1px 1px 1px #999;
        
    
        
    }
    textarea{
        width : 100%;
    }
    #back-link {
        background-color: #0b596d;
        color: #fff;
        text-align: left;
        padding: 0.5em;
      }
      
      #back-link a {
        color: #fff;
        text-decoration: none;
      }

      .tick{
        text-align : center;
    }
      
}
@media (min-width: 1201px) {
    /* styles for large devices */
    body {
        padding: 0 2em;
        font-family: Montserrat, sans-serif;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        color: #444;
        background : #DFDFDE;
      }
    #details{
        background: #0b596d;
        color: #fff;
        border-radius: .6em;
        box-shadow: 1px 1px 1px #999;
        
    
    }
    #back-link {
        background-color: #0b596d;
        color: #fff;
        text-align: left;
        padding: 0.5em;
      }
      
      #back-link a {
        color: #fff;
        text-decoration: none;
      }
      
    #prescription_table, #tests_table{
        background-color : whitesmoke;
        color: grey;
        border-radius: .6em;
        height:250px;
        width:600px;
        overflow:scroll;
        box-shadow: 1px 1px 1px #999;
    }
    
    .tick{
        text-align : center;
    }
    h1{
        margin-left :  2em;
    }
    th, td {
        padding: 15px;
        text-align: left;
    }
    th, td:before {
        color: grey;
    }
    a{
        color: grey; 
    }
    a:hover{
        color :#0b596d
    }
    
    .container {
        display : flex;
        align-items : left;
        justify-content: space-around;
        flex-wrap : wrap;
        
    }
    





  } 

