body{
    background-color: #f6f7f8;
}

/* navbar */

#top-profile{
    margin-right: 0px;
}

.top-profile-image::after{
    position: relative;
    display: none;
}
#navbar{
    position: fixed;
    z-index: 2;
    height: 100%;
    width: 250px;
    background-color: var(--background-color-secondary);
    color: white;
    /* background-color: #0b596d; */
    border-radius: 0px 0px 3px 0px;
    /* top: 8%; */
    /* add box shadow */
    box-shadow: 10px 15px 30px 1px rgba(0,0,0,.1);
}
#top-nav-ul{
    margin-left: 12rem;
}
#topbar{
    background-color: var(--background-color-secondary);
    color: white;
    position: fixed;
    z-index:1;
    /* gheight in pixels */
    height: 60px;
    width: 100%;
    /* background-color: #0b596d; */
    /* border-radius: 3px 0px 0px 3px; */
    /* add box shadow */
    box-shadow: 10px 15px 30px 1px rgba(0,0,0,.1);
}

/* .nav{
    margin-top: 2rem;
} */

.main-content{
    margin-left: 250px;
    padding: 20px;
}

.nav-item{
    display: flex;
    gap: 1rem;
    align-items: center;
    border-radius: 10px;
    /* margin: 10px 0px; */
    /* background-color: #2e879d; */
    /* color: white; */
    /* font-weight: bold; */
    font-size: 1rem;
    /* padding: 0.2rem 0rem; */
}
.nav-item a{
    text-align: left;
    width: 100%;
}
.nav-item i{
    width: 1.5rem;
    padding-right: 10px;
}


.nav-link{
    color: white;
}

.nav-link:hover{
    transition:0.1s ease-in-out;
    color: var(--primary-color);
}


/* navbar */









@media (max-width: 600px) {

    body{
        padding: 0 0;
        font-family: Montserrat, sans-serif;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        color: #444;
        background : #DFDFDE;
        font-size: small;
        
    }
    h1 {
      margin : 0 auto;
    }

    #prescription_table, #tests_table {
        display: block;
        overflow-x: scroll;
        width : 100%;
        border-spacing: 10px;
        

    }
    th, td {
        padding: 15px;
        text-align: left;
    }
    th, td:before {
        color: grey;
    }
    a{
        color: grey; 
    }
    a:hover{
        color :#0b596d
    }
    
    
    
    #details{
        background: #0b596d;
        color: #fff;
        border-radius: .6em;
        box-shadow: 1px 1px 1px #999;
        
        
    
    }
    #prescription_table, #tests_table{
        background-color : whitesmoke;
        color: grey;
        border-radius: .6em;
        box-shadow: 1px 1px 1px #999;
        
    
        
    }
    textarea{
        width : 100%;
    }
    #back-link {
        background-color: #0b596d;
        color: #fff;
        text-align: left;
        padding: 0.5em;
      }
      
      #back-link a {
        color: #fff;
        text-decoration: none;
      }

      .tick{
        text-align : center;
    }
      
}
@media (min-width: 1201px) {
    /* styles for large devices */
    body {
        padding: 0 0em;
        font-family: Montserrat, sans-serif;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        color: #444;
        background : #DFDFDE;
      }
    #details{
        background: #0b596d;
        color: #fff;
        border-radius: .6em;
        box-shadow: 1px 1px 1px #999;
        
    
    }
    #back-link {
        background-color: #0b596d;
        color: #fff;
        text-align: left;
        padding: 0.5em;
      }
      
      #back-link a {
        color: #fff;
        text-decoration: none;
      }
      
    #prescription_table, #tests_table{
        background-color : whitesmoke;
        color: grey;
        border-radius: .6em;
        height:250px;
        width:600px;
        overflow:scroll;
        box-shadow: 1px 1px 1px #999;
    }
    
    .tick{
        text-align : center;
    }
    h1{
        margin-left :  2em;
    }
    th, td {
        padding: 15px;
        text-align: left;
    }
    th, td:before {
        color: grey;
    }
    a{
        color: grey; 
    }
    a:hover{
        color :#0b596d
    }
    
    .container {
        display : flex;
        align-items : left;
        justify-content: space-around;
        flex-wrap : wrap;
        
    }
    





  } 

