#toast{
    background-color: #f8d7da;
    /* color: #fff; */
    padding: 10px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
}

.progress-bar{
    background-color: #f45680;
}

.progress{
    height: 0.5rem;
}