@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

i{
    padding-left: 1px;
    padding-right: 1px;
}


/* add variables for colours */

:root{
    /* just temporary values*/
    --primary-color: rgb(145,191,118);
    --secondary-color: rgb(250,155,78);
    --success-color: #198754;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #0dcaf0;
    --light-color: #f8f9fa;
    --dark-color: #212529;
    --body-color: #212529;
    --background-color-secondary: rgb(36, 29, 29);
    --background-color: #f8f9fa;
}
#fixed-div {
  background-color:#0b596d;
  color: white;
  
  display : flex;
  width : 100%;
  height : 5%;
  justify-content:space-evenly;
  
  flex-wrap: wrap;
  padding-top: 0.5em;
  
}

#left-div {
  float: left;
  display : flex;
  
  
}

  table {
    width: 80% !important; /* Override the default width */
    margin: auto auto !important; /* Override the default margin */
    text-align : center;
  }
  

tr {
  border-radius: 8px;
}
tr {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
tr:hover {
  background-color: #f5f5f5;
}

#right-div {
  float: left;
  display : flex;
  
  
}

.container1{
  text-align: center;
}
/* #name {
  float: left;
  
  
}

#hospital {
  float: left;
  
  
} */
.col-md-4{
  margin-left: auto;
  margin-right: auto;
}
form {
  border: 3px solid #0b596d;
  border-radius: 4em;
  padding: 30px;
  display: none;
}

